.wp-block-gbt-slider {
  margin-bottom: 2.5rem; }
  .wp-block-gbt-slider .swiper-container.full_height {
    height: 100vh !important; }
  .wp-block-gbt-slider.alignwide {
    width: 75vw;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .wp-block-gbt-slider.alignfull {
    width: 100vw;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .wp-block-gbt-slider .shortcode-slider-pagination {
    width: 9% !important; }

@media print, screen and (min-width: 40em) {
  .wp-block-getbowtied-th-slider .swiper-slide.center-align .slider-content-wrapper {
    text-align: center;
    margin: auto; }
  .wp-block-getbowtied-th-slider .swiper-slide.right-align .slider-content-wrapper {
    width: 100%;
    text-align: right;
    margin-left: auto; } }
