.gbt_18_th_slider_wrapper
{
	margin-bottom: 2.5rem;

	.swiper-container.full_height
	{
	    height: 100vh !important;
	}

	&.alignwide
	{
		margin-left: calc( -75vw / 2 + 100% / 2 );
	    margin-right: calc( -75vw / 2 + 100% / 2 );
	    max-width: 75vw;
	}

	&.alignfull
	{
		margin-left: calc( -100vw / 2 + 100% / 2 );
	    margin-right: calc( -100vw / 2 + 100% / 2 );
	    max-width: 100vw;
	}

	.shortcode-slider-pagination
	{
		width: 9% !important;
	}
}

@media print, screen and (min-width: 40em) {
	.wp-block-getbowtied-th-slider .swiper-slide.center-align .slider-content-wrapper {
	    text-align: center;
    	margin: auto;
	}

	.wp-block-getbowtied-th-slider .swiper-slide.right-align .slider-content-wrapper {
	    width: 100%;
	    text-align: right;
    	margin-left: auto;
	}
}