.gbt_18_th_editor_slide_wrapper
{
	max-height: 1000px;
    background-size: cover;
    width: 100%;
    background-position: center center;

    .gbt_18_th_editor_slide_content
    {
    	width: 80%;
    	word-break: break-word;
    	margin: auto;
    	height: 100%;
    	padding: 125px 0;

    	h4, p
    	{
    		line-height: 1.3;
    	}

        .gbt_18_th_editor_slide_title {
            margin-bottom: 35px;

            h4 {
                text-transform: uppercase;
            }
        }

        .gbt_18_th_editor_slide_button {
            margin-top: 40px;
        }

    	.gbt_18_th_editor_slide_container
    	{
    		width: 70%;

    		&.align-center
    		{
    			margin: auto; 

    			.gbt_18_th_editor_slide_button .gbt_18_th_editor_slide_button_input
    			{
    				margin: 20px auto 0;
    			}
    		}

    		&.align-right
    		{
    			margin: 0 0 0 auto; 

    			.gbt_18_th_editor_slide_button .gbt_18_th_editor_slide_button_input
    			{
    				margin: 20px 0 0 auto;
    			}
    		}

    		.gbt_18_th_editor_slide_description
    		{
    			p
    			{
                    font-size: 38px;
    			}
    		}
    	}
    }

	.gbt_18_th_editor_slide_button_input
	{
    	width: fit-content;
    	margin-top: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid;
        padding: 0;
	}

	.gbt_18_th_slide_remove_image_button,
	.gbt_18_th_slide_add_image_button {
		position: absolute;
	    top: 15px;
	    left: 15px;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
	}
}

.editor-block-list__block[data-type="getbowtied/th-slide"] {

	&.is-selected,
	&.is-hovered,
	&.is-typing {
		.gbt_18_th_slide_remove_image_button,
		.gbt_18_th_slide_add_image_button {
			opacity: 1;
			visibility: visible;
			transition: all .2s ease-in-out;
		}
	}
}

.editor-block-list__block[data-type="getbowtied/th-slider"][data-align="wide"],
.editor-block-list__block[data-type="getbowtied/th-slider"][data-align="full"] {
	.editor-block-list__block {
		max-width: 100%;
	}
}