.wp-block-gbt-social-media
{
	margin-bottom: 2.5rem;
	display: flex;
	flex-shrink: 0;

	ul
	{
		padding: 0;
		list-style: none;
		width: 100%;

		&.left
		{
			margin: 0 .75em 0 0;
			text-align: left;

			li
			{
				&:first-child
				{
					a
					{
						padding-left: 0;
					}
				}
			}
		}

		&.right
		{
			margin: 0 0 0 .75em;
			text-align: right;

			li
			{
				&:last-child
				{
					a
					{
						padding-right: 0;
					}
				}
			}
		}

		&.center
		{
			text-align: center;
			margin: 0 .75em;
		}

		li
		{
			display: inline-block;
			margin: 0;

			a
			{
				display: flex;
				padding: .75em;

				span
				{
					display: none;
				}
			}
		}
	}
}