.wp-block-gbt-posts-grid
{
	margin-bottom: 0.5rem;

	.gbt_shortcode_blog_posts
	{
		&.full
		{
			padding: 0 32px;
			margin-left: calc( -100vw / 2 + 100% / 2 );
		    margin-right: calc( -100vw / 2 + 100% / 2 );
		    max-width: 100vw;

			@media all and (max-width: 639px) {
				padding: 0 1.75rem;
			}
		}

		&.wide
		{
			@media all and (min-width: 1570px) {
				margin-left: calc( -75vw / 2 + 100% / 2 );
			    margin-right: calc( -75vw / 2 + 100% / 2 );
			    max-width: 75vw;
			}
		}

		.gbt_18_th_posts_grid_img {
			background-size: cover;
		    display: block;
		    overflow: hidden;
		    position: relative;
		    padding-bottom: 100%;
		    width: 100%;
	        margin-bottom: 1.5rem;
	        transition: transform .3s ease-in-out;

	        &:hover {
        	    transform: scale3d(0.98, 0.98, 0.98);
        	    transition: transform .3s ease-in-out;
	        }
		}

		.gbt_shortcode_blog_post {
			@media all and (max-width: 639px) {
				display: block;
			}

			.gbt_shortcode_blog_posts_content {
				.gbt_shortcode_blog_posts_title {
					@media print, screen and (max-width: 40em) {
						font-size: 18px;
						line-height: 1.475rem;
					}

					@media print, screen and (min-width: 40em) {
						font-size: 19px;
						line-height: 1.675rem;
					}
				}
			}

			.gbt_shortcode_blog_posts_image {
				transition: transform .3s ease-in-out;
			}
		}
	}
}