.shortcode_socials
{
	padding: 0;
	list-style: none;

	li.th_social_icon
	{
		display: inline-block;
		margin: 0;

		a
		{
			padding: .75em;

			svg
			{
				opacity: 1;
				transition: all .3s ease;
			}

			&:hover
			{
				svg
				{
					opacity: .6;
				}
			}
		}

		&:first-child
		{
			a
			{
				padding-left: 0;
			}
		}
	}
}

.topbar
{
	.topbar-content
	{
		.topbar-wrapper-left
		{
			.topbar-socials
			{
				display: flex;
				flex-shrink: 0;

				ul
				{
					margin: 0 .75em 0 0;

					li
					{
						float: left;

						a
						{
							display: flex;

							&:hover
							{
								svg
								{
									opacity: 1;
								}
							}
						}

						&:nth-child(6)
						{
							clear: left;
						}

						&:nth-child(11)
						{
							clear: left;
						}

						&:nth-child(16)
						{
							clear: left;
						}
					}
				}
			}
		}
	}
}